<%# Website footer %>

<footer> 
    <%# Copyright notice %>
    <p>&copy; 20225 by Kenil Patel</p>

    <%# Link to Github and Linkedin %>
    <p>
       <a href="https://github.com/pkenil01" target="_blank">GitHub</a>
       <a href="https://www.linkedin.com/in/kenil-patel-1183b42b1/" target="_blank">LinkedIn</a>
    </p>
</footer>