<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!-- Include header partial -->
    <%- include('partials/header') %>

    <!-- About page content -->
    <main>
        <h1>About Me</h1>
        <p>Hello! I’m a IT student at Ontario Tech University</p>
    </main>

    <!-- Include footer partial -->
    <%- include('partials/footer') %>
</body>
</html>
