<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!-- Include header partial -->
    <%- include('partials/header') %>

    <!-- Projects page content -->
    <main>
        <h1>Projects</h1>
        <p>Project 1: </p>
        <p>Project 2: </p>
        <p>Project 3: </p>
    </main>

    <!-- Include footer partial -->
    <%- include('partials/footer') %>
</body>
</html>