<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!-- Include header partial -->
    <%- include('partials/header') %>

    <!-- Projects page content -->
    <main>
        <h1>Projects</h1>
        <p>Plastic Waste to 3D-Filament: Created a process to recycle plastic waste bottle into usable 3D-printing filament.</p>
        <p>CPI Data Dashboard: Designed a dashboard to track and visualize Consumer Price Index (CPI) trends over time for economic insights using Power BI and Excel.</p>
        <p>Digital Marketing: Set up Google Ads and Facebook Ads campaigns and created content using Canva to boost marketing for a local cleaning business.</p>
    </main>

    <!-- Include footer partial -->
    <%- include('partials/footer') %>
</body>
</html>